*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  font-size: 18px;
}

.header {
  width: 100%;
  padding: 1%;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  }

.me {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction:  row-reverse;
  @media screen and (max-width: 1170p){
    display: flex;
        flex-direction: column-reverse;
  }
  padding: 1%;
}


.container {
  max-width: 50vh;
  padding: 0 15px;
}

.me_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
}

.about_me_briefly {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my_title_briefly {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.my_links {
    display: flex;
  }
  
  .my_link {
    margin-right: 10px;
    font-size: 30px;
    color: #000;
  }
  
  .github:hover {
    color: #6e5494;
  }

  .gmail:hover {
    color: #c71610;
  }

  .telegram:hover {
    color: #2AABEE;
  }

  .itsme {
    width: 60vh;
    justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  animation: ava-animate 10s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
  }
  
  .itsme-img {
    width: 100%;

    object-fit: cover;
  }

  @keyframes ava-animate {
    0% {
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
  
    10% {
      border-radius: 50% 50% 59% 41% / 40% 50% 50% 60% ;
    }
  
    20% {
      border-radius: 57% 43% 59% 41% / 40% 58% 42% 60% ;
    }
  
    30% {
      border-radius: 56% 44% 67% 33% / 38% 61% 39% 62%  ;
    }

    40% {
      border-radius: 48% 52% 36% 64% / 56% 33% 67% 44%  ;
    }
  
    50% {
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%  ;
    }
  
    60% {
      border-radius: 48% 52% 36% 64% / 56% 33% 67% 44%  ;
    }
  
    70% {
      border-radius: 56% 44% 67% 33% / 38% 61% 39% 62%  ;
    }
    80% {
      border-radius: 57% 43% 59% 41% / 40% 58% 42% 60% ;
    }
  
    90% {
      border-radius: 50% 50% 59% 41% / 40% 50% 50% 60%  ;
    }
  
    100% {
      border-radius: 45% 55% 29% 71% / 72% 34% 66% 28%  ;
    }
  }
  

  .my_knowledge {
    padding: 1%;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 5vh;
    line-height: 1.1;
    margin-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my_knowledge img{
    margin-left:1%;
    margin-top:1%;
    width: 3vh;
  }
.arrow-button{
  width: 1vh;
}
  .table{
    display: grid;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: start;
    justify-items: start;
  }

  .list_knowledges{
    margin-right:1%
  }

  .about_knowledges{
    text-align: left;
    margin-left:1%;
    margin-top:1%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    min-height: 20vh;
display: flex;
flex-wrap: wrap;
  }
  .list_knowledge{
    margin-bottom: 0.5%;
  }

  .contact{
    text-align: center;
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }



.contactwthme{
  font-size: 4vh;
  line-height: 1.1;
  margin-bottom: 20px;
}
  
  input, button {
  font-family: 'Montserrat', sans-serif;
  height: 5vh;
    font-size: 0.875em;
    max-width: 100vh;
    min-width: 50vh;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #000000;
    
    border: solid 1px #000000;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover,  textarea:hover,  #submit:hover {
    background: #000000;
    color: #ffffff;
  }
  
  textarea {
    resize: none;
  font-family: 'Montserrat', sans-serif;
  max-width: 100vh;
  min-width: 50vh;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    font-size: 0.875em;
    background: transparent;
    outline: none;
    color: #000000;
    border: solid 1px #000000;
  }
  input:hover::placeholder,  textarea:hover::placeholder,  #submit:hover::placeholder {
    color: #ffffff;
  }
  input::placeholder, textarea::placeholder{
    color: #000000;
  }
  
  #submit {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vh;
    min-width: 50vh;
      padding: 0;
      margin: -5px 0px 0px 0px;   
      font-size: 0.875em;
      background: transparent;
      outline: none;
      color: #000000;
      border: solid 1px #000000;
      cursor: pointer;
  
    }
